body {
    background-color: whitesmoke;
    font-size: 80%;
    
}

.header{
    width: 40%;
    margin: 40px auto 0px;
    color: white;
    background: #3b5998;
    text-align: center;
    border: 1px solid black;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}


form {
    width: 40%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid black;
    background: white;
    border-radius: 0px 0px 10px 10px;
}

.input-group{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 110px;
    padding-bottom: 10px;

}


.input-group input{
    height: 40px;
    width: 130%;
    text-align: center;
    padding: 5px 10px;
    font-size: 15px;
    border-right: 5px;
    border: 1px solid black;
}


.btn{
    margin-top: 20px;
    margin-left: 100px;
    padding-top: 10px;
    font-size: 18px;
    color: white;
    text-align: center;   
    background:  #00aced;
    border: none;
    border-right: 5px;
}

.member{
    font-size: 16px;
    text-align: center;
    margin-top: 40px;
}

.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}

.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

#content {
    width: 40%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid black;
    background: white;
    border-radius: 0px 0px 10px 10px;
}






